
<section class="text-center vh-100">
    <div class="bg__prime d-flex align-items-center justify-content-between px-4 sticky-top">
        <div>
            <%= render "shared/navbar" %>
        </div>
        <%= link_to "Add New Category", new_group_path, class: "right__link text-white" %>
    </div>
   

    <% if flash.notice %>
        <p class="notice"><%= notice %></p>
    <% end %>

    <div class="">
        <% if @groups.any?%>
            <% @groups.each do |group| %>
                <%= render group %>
            <% end %>
        <% else %>
            <p class="p-2 m-2 h3">There is no category added!!!</p>
        <% end %>            
    </div>

    <div class="bg__sec fixed-bottom p-3">        
        <% if user_signed_in? %> 
           <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "text-white" %>
        <% end %>
    </div>
       
</section>
