<section class="text-center vh-100">
    <div class="bg__prime d-flex align-items-center justify-content-between p-3">
    <%= link_to :back do %>
        <i class="fa fa-arrow-left text-white"></i>
    <%end%>
    <h4 class="text-white">Transactions</h4>      
    </div>

    <% if flash[:notice] %>
        <p class="notice" role="alert"><%= notice %></p>
    <% end %>
    <%= render @group %>
    <% @entities.each do |entity| %>
        <div class="card m-3 rounded">
            <div class="h4 py-2"><%= entity.name.capitalize %></div>
            <p>$<%= entity.amount %></p>
        </div>
        
    <% end %>

    <div class="bg__sec fixed-bottom py-3">        
        <%= link_to "Add Expense", new_entity_path, class: "btn btn-primary" %>        
        <% if user_signed_in? %> 
           <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-primary" %>
        <% end %>
    </div>
</section>

